ul.flick-list {
  margin: 0;
}

.flick.template {
  display: none;
}

.flick {
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  transition: 0.25s;
}

.flick:last-child {
  border-bottom: none;
}

.flick-name {
  flex-grow: 1;
  margin-right: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actions.button-group {
  margin-bottom: 0;
  white-space: nowrap;
}

.actions .button {
  padding: .65em 0.8em;
  transition: 0.25s;
}

.actions .button:hover {
  transform: scale(1.1);
}

.flick.fav {
  background-color: #ffc656;
  border-color: #ffa807;
}

.flick:first-child button.move-up,
.flick:last-child button.move-down {
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
}

.tabs-panel {
  padding: 0;
}

#genres {
  position: relative;
}

li.search {
  position: absolute;
  right: 0;
  padding-top: 0.4rem;
  padding-right: 1rem;
  width: 40%;
}
li.search input {
  margin: 0;
}
li.search .input-group-label {
  color: #999;
}
li.search .input-group {
  margin: 0;
}
