.flick.template {
  display: none;
}

.flick {
  border: 1px solid #ddd;
  clear: both;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  transition: 0.25s;
}

.flick + .flick {
  border-top: 0;
}

.flick-name {
  flex-grow: 1;
}

.actions.button-group {
  margin-bottom: 0;
}

.flick.fav {
  background-color: #ffc656;
  border-color: #ffa807;
}

.flick:first-child button.move-up,
.flick:last-child button.move-down {
  background-color: #ddd;
  color: #eee;
  cursor: not-allowed;
}
